/* Import  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Variables */

:root {
  --green: #c0ff31;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

main {
  height: 90vh;
  display: flex;
}

main nav {
  width: 300px;
  padding: 1rem 0;
  background-color: black;
}

main nav ul li {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
}

main nav ul li img {
  height: 23px;
  margin: 0 0.4rem 0 1rem;
}

footer {
  height: 10vh;
  background-color: #282828;
}

li {
  list-style-type: none;
}

/* Classes */

main .container {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

main .logo {
  height: 50px;
}

main nav ul .active {
  border-left: 2px solid var(--green);
  font-weight: 700;
}

/* ID */

#content {
  width: 100%;
  background-color: #141922;
}
