/* Import  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Variables */

:root {
  --green: #c0ff31;
  --grey: #a3a3a3;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

html {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;
}

li {
  list-style-type: none;
}

/* General - Main Nav */

main h3 {
  color: white;
}

main nav {
  min-width: 200px;
  padding-top: 1rem;
  color: var(--grey);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main nav ul li {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
}

main nav ul li img {
  height: 23px;
  margin: 0 0.4rem 0 1rem;
}

main nav hr {
  margin: 0.8rem 0 1rem 0;
}

/* General - Content */

#content div {
  margin-bottom: 2rem;
}

/* General - Footer */

footer {
  height: 80px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
}

footer i {
  margin-right: 1rem;
}

/* Classes */

.container {
  padding: 0 2rem;
}

/* Classes - Main Nav */

main nav .container {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

main nav .logo {
  height: 50px;
}

main nav .no-padding {
  padding: 0;
}

main nav ul .active {
  border-left: 2px solid var(--green);
  font-weight: 700;
}

main nav div.bottom-nav img {
  margin: 0 0.4rem 0 0rem;
}

main nav div.bottom-nav span {
  display: flex;
  align-items: center;
}

main nav div.bottom-nav span.profile-text {
  font-weight: 700;
  color: white;
}

/* Classes - Content */

.section-title {
  margin-bottom: 2rem;
}

.section-title h1 {
  margin-bottom: 0.5rem;
}

.section-title span {
  color: var(--grey);
}

.elements-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.element {
  width: calc(100% / 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.element img {
  width: 100%;
  margin-bottom: 1rem;
}

.element .title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.element .author {
  color: var(--grey);
}

.pop-artists img {
  border-radius: 50%;
}

/* Classes - Content Upgrade */

.upgrade-container {
  height: 10vh;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #080b12;
}

/* Classes - Content Nav */

.content-nav {
  margin-bottom: 4rem;
}

.content-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  text-transform: uppercase;
  color: var(--grey);
}

.content-nav ul li.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-nav ul li.active::after {
  content: "";
  padding-top: 4px;
  border-bottom: 2px solid var(--green);
  width: 30px;
}

/* Classes - Footer */

footer .progress-bar {
  height: 5px;
  width: 80%;
  border-radius: 3px;
  background-color: var(--grey);
}

footer .progress-bar .inner {
  height: 5px;
  width: 20%;
  border-radius: 3px;
  background-color: lightgray;
}

/* Classes - Footer Left */

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-left div:nth-child(3) {
  margin-left: 2rem;
}

.footer-left .play {
  height: 40px;
}

.footer-left .title-author {
  display: flex;
  flex-direction: column;
}

.footer-left .title-author .title {
  font-weight: 700;
}

.footer-left .title-author .author {
  font-size: 0.8rem;
  color: var(grey);
}

.footer-left i {
  margin-right: 1rem;
}

/* Classes - Footer Middle */

.footer-middle {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-middle > div:first-child {
  margin-bottom: 0.8rem;
}

.footer-middle i {
  font-size: 1.5rem;
}

.footer-middle i.big {
  font-size: 1.7rem;
}

.footer-middle .progress-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Classes - Footer Right */

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right .progress-bar-container {
  width: 130px;
}

.footer-right .progress-bar {
  width: 100%;
}

/* ID */

#content {
  width: 100%;
  background-color: #141922;
  overflow: auto;
}

main nav #create-playlist {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem 0.7rem 0;
  font-size: 1.2rem;
  color: black;
  background-color: var(--grey);
  border: none;
}

/* ID - Main Nav */

main nav img#download-icon {
  width: 15px;
  height: 15px;
}

main nav img#profile-icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  background-color: var(--grey);
  border-radius: 50%;
}

/* ID - Content Upgrade */

#upgrade-btn {
  border: 1px solid white;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Breakpoint MB */

@media screen and (max-width: 991px) {
  h1 {
    font-size: 1.8rem;
  }

  .elements-container {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .element {
    width: calc(90% / 4);
  }

  .footer-middle {
    margin: 0 1rem;
    min-width: 195px;
  }
}

/* Breakpoint S */

@media screen and (max-width: 767px) {
  .element {
    width: calc((100% / 2) - 8px);
  }

  footer i {
    margin-right: 0.5rem;
  }

  .footer-middle .progress-bar-container {
    max-width: 375px;
  }

  .footer-left div:nth-child(3) {
    margin-left: 0;
  }

  .footer-right .progress-bar-container {
    width: 50px;
  }
}

/* Breakpoint XS */

@media screen and (max-width: 576px) {
  .element {
  }
}
