/* Import  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Variables */

:root {
  --green: #c0ff31;
  --grey: #a3a3a3;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

main {
  height: 90vh;
  display: flex;
}

li {
  list-style-type: none;
}

/* General - Main Nav */

main h3 {
  color: white;
}

main nav {
  min-width: 250px;
  padding-top: 1rem;
  color: var(--grey);
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main nav ul li {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
}

main nav ul li img {
  height: 23px;
  margin: 0 0.4rem 0 1rem;
}

main nav hr {
  margin: 0.8rem 0 1rem 0;
}

/* General - Footer */

footer {
  height: 10vh;
  background-color: #282828;
}

/* Classes - Main Nav */

main nav .container {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

main nav .logo {
  height: 50px;
}

main nav .no-padding {
  padding: 0;
}

main nav ul .active {
  border-left: 2px solid var(--green);
  font-weight: 700;
}

main nav div.bottom-nav img {
  margin: 0 0.4rem 0 0rem;
}

main nav div.bottom-nav span {
  display: flex;
  align-items: center;
}

main nav div.bottom-nav span.profile-text {
  font-weight: 700;
  color: white;
}

/* ID */

#content {
  width: 100%;
  background-color: #141922;
}

#create-playlist {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: black;
  background-color: var(--grey);
  border: none;
}

/* ID - Main Nav */

main nav img#download-icon {
  width: 15px;
  height: 15px;
}

main nav img#profile-icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  background-color: var(--grey);
  border-radius: 50%;
}
